.players {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.searchBars{
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 1rem;
}

.paginationButton {
  cursor: pointer;
  outline: none;
  background-color: transparent;
  border: 2px solid white;
  color: white;
  margin: 0.5rem;
  height: 2rem;
  width: 2rem;
  border-radius: 0.25rem;
}